// Variables
@use "../components/helpers/variables" as vars;

.book-form-content {
  overflow-y: overlay;
  .form-label {
    color: vars.$light;
  }
  .dropdown-item {
    &:focus,
    &:hover {
      background-color: #ddd;
    }
    &.active,
    &:active {
      background-color: vars.$main-color;
    }
  }
  .input-group {
    min-width: 150px;
    .input-group-addon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: vars.$light;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0.375rem !important;
      border-bottom-right-radius: 0.375rem !important;
    }
  }
  .bootstrap-select {
    &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }
  }
}
.book-form-canvas {
  @media screen and (min-width: 992px) {
    &.offcanvas {
      position: static;
      height: auto;
      border: 0;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      visibility: visible;
      background-color: vars.$dark;
      padding: 0.5rem;
    }
    &.fixed {
      position: fixed;
    }
    .book-form-content {
      overflow-y: initial;
      padding: 0;
    }
  }
}
@media screen and (max-width: 991px) {
  .mobile-book-trigger {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: vars.$main-color;
      color: vars.$light;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .offcanvas.book-form-canvas {
    height: 100%;
  }
  .book-form-content {
    form {
      height: 100%;
    }
    .bootstrap-select .dropdown-menu {
      position: static !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      transform: none !important;
    }
  }
}

[dir="rtl"] {
  .book-form-content {
    .input-group {
      .input-group-addon {
        border-top-left-radius: 0.375rem !important;
        border-bottom-left-radius: 0.375rem !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
